h1{
    color: red;
    border: 7px solid greenyellow;
    display: inline-block;
    width: 215px;
    height: 35px;
    margin-left:600px;
    padding: 10px;
    background-color: antiquewhite;
    
    
  
}