html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body,
h1,
h2{
    margin: 0;

}


img{
    max-width: 50%;
    height: auto;
}

header{
    position: sticky;
    background-color: black;
    color: white;  
    text-align: center;
    padding: 0.25rem;
    top: 0;
    
}

.nav-1 a{
    text-decoration: none;
}

.header a{
    margin: 0 1rem;
    color: #00c4d6;
}

.header a:hover{
    color: #e94bb4;
}

.slide{
    width: 100%;
    padding: 2rem;
    min-height: 100vh;
    color: #d9e8f0;
    background-color: #1e2345;
    text-align: center;
}

.frase-anonymus{
    color: red;
}

.slide:nth-child(even){
    background-color: #108eb4;
}

[id] {
    scroll-margin-top: 7.8ex;
}
